body {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 13);
}

.Todo-Item:hover .trash-icon {
  display: block;
}
h5 {
  display: inline;
}
#footer{
  position:fixed;
  padding: 10px 10px 0px 10px;
  bottom:0;
  width:100%;
  height: 40px;
  background: grey;
}
